body {
  background-image: radial-gradient(13% 22%, #EEF5DB 90%, #7A9E9F 700%);
  font-family: Arial-BoldMT;
}

h1 {
  text-align: center;
  font-size: 44px;
  color: #FE5F55;
  padding-left: 20%;
}

h2 {
  color: #4F6367;
  font-size: 26px;
  letter-spacing: 1px;
  padding-bottom: 4px;
  border-bottom: 2px solid rgba(254,95,95,.3);
  width: 68%;
}

header {
  display: flex;
  justify-content: flex-start;
}

ul {
  margin: 15% 0 0 10%;
}

li {
  color: #7A9E9F;
  padding: 4% 0;
  letter-spacing: 1px;
}

span {
  color: #FE5F55;
}

.ul-container {
  z-index: 2;
}

.calendar {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: #4F6367;
  margin: 15% auto;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid #FE5F55;
}

.day {
  padding: 4px 7px;
  color: #EEF5DB;
  border: 1px solid #FE5F55;
  border-radius: 5px;
  font-size: 26px;
  background-color: #7A9E9F;
  margin: 0 3px;
}

.calendar-container {
  display: flex;
  justify-content: center;
}

.arrow {
  z-index: 2;
  width: 40px;
  height: 10px;
  margin-top: 75px;
}

.left {
  position: relative;
  left: 15px;
}

.right {
  position: relative;
  right: 15px;
}

#runner {
  z-index: 1;
  position: fixed;
  margin-top: 55%;
  margin-left: 5%;
}

#hamburger {
  width: 30px;
  height: 25px;
  padding: 10px;
}

#icon {
  height: 34px;
}

#track-runner {
  opacity: 0.08;
}

#pie {
  display: none;
  float: right;
  margin: 50px;
}

.canoe, .swim, .run {
  display: none;
}

.breakdown {
  display: none;
}

.char-container {
  display: none;
}

@media (min-width: 600px) {

#pie, .breakdown {
  display:inline-block;
}

  .calendar-container {
  display: none;
  }
  .calendar{
  display: none;
  }

  .day {
    display: none;
  }
  .ul-container, .char-container {
    width: 40%;
    display: inline-block;
  }

  .canoe, .swim, .run {
    color: #FE5F55;
    display: block;
  }
}
